@import url('http://fonts.cdnfonts.com/css/exo-4');

body {
  margin: 0;
  font-family: 'Exo', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
	background-image: url("/public/img/background.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

code {
  font-family: 'Exo', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
